@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_AdminLTECustom.cshtml";
}

<div class="text-center">
    <h1 class="display-3">Ma-Moni Mobile Telecom</h1>
    <h1 class="display-5">Raipura, Narsingdi</h1>
    
</div>
