@model CategoryViewModel

<form asp-action="Upsert" asp-controller="Category" method="post" enctype="multipart/form-data">
    <div class="row p-3 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if (!Model.Category.Id.Equals(default(Guid)))
        {
            <input type="hidden" asp-for="Category.Id" />
            <input type="hidden" asp-for="Category.NoOfProduct" />
            <input type="hidden" asp-for="Category.Invest" />
            <input type="hidden" asp-for="Category.StockProduct" />
            <input type="hidden" asp-for="Category.Sales" />
            <input type="hidden" asp-for="Category.Products" />
        }
        <div class="col-6 row">
            <div class="col-8 row">
                <div class="col-4">
                    <label asp-for="Category.Name"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Category.Name" class="form-control" />
                    <span asp-validation-for="Category.Name" class="text-danger"></span>
                </div>
            </div>
            <div class="col-4 row">
                @if (!Model.Category.Id.Equals(default(Guid)))
                {
                    <button type = "submit"
                            onclick = "return validateInput()" class=
                            "btn btn-warning form-control col" >Update</button>
                    <button type="submit"
                            onclick="location.href = '@Url.Action("Data", "Category")'" class="btn btn-primary form-control col ml-2">
                        Reset
                    </button>
                }
                else
                {
                    <button type = "submit"
                            onclick = "return validateInput()" class=
                            "btn btn-success form-control" >Add</button>
                }
            </div>
        </div>
        <div class="col-6 row">
            <h1>Current Month Info</h1>
        </div>
    </div>
</form>


@section Scripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}