@model ProductViewModel
@{
    ViewData["Title"] = "Details Product";
    Layout = "~/Views/Shared/_AdminLTECustom.cshtml";
}

@section Title
{
    <br />
    <div class="row">
        <div class="col-sm-12 text-center">
            <h2 class="text-primary">Product Details </h2>
        </div>
    </div>
}

<div class="row p-3 border">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="col-6 pt-4">
        <div class="form-group row">
            <div class="col-4 text-right">
                <label asp-for="Product.Name"></label>
            </div>
            <div class="col-8">
                <input disabled="disabled" asp-for="Product.Name" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4 text-right">
                <label asp-for="Product.Price"></label>
            </div>
            <div class="col-8">
                <input disabled="disabled" asp-for="Product.Price" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4 text-right">
                <label asp-for="Product.Quantity"></label>
            </div>
            <div class="col-8">
                <input disabled="disabled" asp-for="Product.Quantity" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4 text-right">
                <label class="col-form-label">Category</label>
            </div>
            <div class="col-8">
                @*@Html.DropDownListFor(m => m.Product.CategoryId, Model.CategoryList, "-Select a Category", new { @class = "form-control" })*@
                <input disabled="disabled" asp-for="Product.Category.Name" class="form-control" />
            </div>
        </div>
    </div>
    <div class="col-6 pt-4">

        <div class="form-group row">
            <div class="col-4 text-right">
                <label class="col-form-label">Last Sale Date</label>
            </div>
            <div class="col-8">
                <input disabled="disabled" value="@Model.SalesDetails.SaleDate" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4 text-right">
                <label class="col-form-label">Last Sale Price</label>
            </div>
            <div class="col-8">
                <input disabled="disabled" value="@Model.SalesDetails.Price" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4 text-right">
                <label class="col-form-label">Last Sale Quantity</label>
            </div>
            <div class="col-8">
                <input disabled="disabled" value="@Model.SalesDetails.Quantity" class="form-control" />
            </div>
        </div>
    </div>
    
    <div class="form-group row">
            <div class="row">
                <div class="col">
                    <a asp-action="Data" class="btn btn-success form-control">Back To List</a>
                </div>
        </div>
    </div>
</div>
