@model Guid
<div class="row">
    <div class="col">
        <button onclick="Delete('/Product/Delete/@Model')" class="btn btn-danger form-control btn-outline-light">
            <i class="fas fa-trash"></i>
        </button>
    </div>
    <div class="col">
        <a asp-action="Edit" asp-route-Id="@Model" class="btn btn-warning form-control btn-outline-light">
            <i class="nav-icon fas fa-edit"></i>
        </a>
    </div>
    <div class="col">
        <a asp-action="Details" asp-route-Id="@Model" class="btn btn-success form-control btn-outline-light">
            <i class="nav-icon fas fa-info-circle"></i>
        </a>
    </div>
</div>