@model SaleDetailModel

@{
    ViewData["subtitle"] = Model.Id != new Guid() ? "Update Sale Detial" : "Create Sale Detial";
}

<div class="modal-header">
    <h4 class="modal-title">@ViewData["subtitle"]</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="box-header">
        <div class="callout callout-danger">
            <p><b>Note:</b> Provide <b>Sale Price</b>, <b>No Of Quantity</b> to Sale</p>
        </div>
    </div>
    <form id="saledetailForm" asp-controller="SaleDetail" asp-action="Upsert" method="post"
        enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row p-3">
            @if (!Model.Id.Equals(default(Guid)))
            {
                <input type="hidden" asp-for="Id" />
            }
                <input type="hidden" asp-for="ProductId" />
            <div class="col row">
                <div class="col-5">
                    <label asp-for="ProductName"></label>
                </div>
                <div class="col">
                    <input disabled asp-for="ProductName" class="form-control" />
                    <span asp-validation-for="ProductName" class="text-danger"></span>
                </div>
            </div>
            <div class="col row">
                <div class="col row">
                    <div class="col-3">
                        <label asp-for="Price"></label>
                    </div>
                    <div class="col">
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                </div>
                <div class="col row">
                    <div class="col-5">
                        <label asp-for="Quantity"></label>
                    </div>
                    <div class="col">
                        <input asp-for="Quantity" class="form-control" />
                        <span asp-validation-for="Quantity" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="button" id="Submit" class="btn btn-primary">@(Model.Id != new Guid() ? "Update": "Create")
    </button>
</div>